@font-face {
 	font-family: 'Malgun Gothic Regular', sans-serif;
	src: (url'../fonts/Malgun-Gothic_Regular_29381.ttf');
	font-weight: normal;
}	



/* general */

* {
	margin: 0;
	padding: 0;
	outline: none;
}

.quadrate {
	width: 100%;
    height: 100px;
    background: green;
}
