@font-face {
 	font-family: 'Malgun Gothic Regular', sans-serif;
	src: (url'../fonts/Malgun-Gothic_Regular_29381.ttf');
	font-weight: normal;
}	

/* general */

* {
	margin: 0;
	padding: 0;
	outline: none;
}

.quadrate {
	width: 100%;
    min-height: 100px;
}

.quadrate1 {
	display: table-cell;
	width: 50px;
    height: 10px;
    background: white;
    color: green;
    border: 1px solid black;
    padding: 3px;
}

.quadrate2 {
	display: table-cell;
	width: 50px;
    height: 10px;
    background: white;
    color: blue;
    border: 1px solid black;
    padding: 3px;
}    

.contain {
	display: table;
	width: 100%;
    min-height: 80px;
    background: white;
    margin: auto;
    margin-left: auto; 
    margin left: 0;
}

.container-table2 {
	display: table;
	width: 100%;
    min-height: 2px;
    background: white;
    margin: auto;
    /*margin-left: auto; 
    margin left: 0;*/
}

.new-table {
	display: table-row;
	margin: auto;
    margin-left: auto; 
    margin left: 0;
}

.new-table2 {
	display: table-row;
	/*margin: auto;*/
	border: 1px solid black;
    /*margin-left: auto; 
    margin left: 0;*/
}

.col-red {
	display: table-cell;
	width: 2px;
    height: 2px;
    /*background: red;*/
    color: red;
    border: 1px solid black;
    padding: 3px;
}

.col-purple {
	display: table-cell;
	width: 2px;
    height: 2px;
    /*background: purple;*/
    color: purple;
    border: 1px solid black;
    padding: 3px;
}