@font-face {
 	font-family: 'Malgun Gothic';
	src: (url'../fonts/Malgun-Gothic_Regular_29381.ttf');
	font-weight: normal;
}

@font-face {
 	font-family: 'Malgun Gothic';
	src: (url'../fonts/Malgun-Gothic-Bold_29380.ttf');
	font-weight: bold;
}

/* general */

body{ font-family: 'Malgun Gothic', sans-serif; }

header {
	background-color: #25252d;
	width: 100%;
	min-height: 142px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    padding: 10px;
}

a {
  text-decoration: none;
}


.with-float {
padding-top: 2.5%;
}

.logo-float  {
	float: left;
}

.main-menu-float {
	float: left;
	min-width: 52%;
	margin-left: 10%;
}

.main-menu-float ul {
	list-style: none;
}

.main-menu-float ul li {
		float: left;
		margin-left: 5%;
}

.main-menu-float ul li a {
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
}

.contact-float {
	float: right;
}

.contact-float a {
	color: white;
}

.container with-float::after {
	display: block;
	content: "";
	clear: left;
}

.it-mail {
	/*border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: white;*/
	text-decoration: underline;
}

.it-phone {
	font-size: 23px;
	padding-top: 2.5%;
}

.logo  {
	margin: 39px;
	margin-left: 322px;
}

.main-menu {
	padding-top:42px;
	margin-left: 55px;
	/*width: 730px;*/
}

.main-menu ul{
	list-style: none;
}

.main-menu ul li{
	display: inline-block;
	margin: 0 56px 0 0;
}

.main-menu ul li a{
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
}

.contact {
	padding-top: 40px;
	margin-right: 322px; 
}

.contact a {
	color: white;
}

.with-grid {
	display: grid;    
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1px;
}

.with-inline_block {
	height: 142px;
	background: green;
}

.logo-inline_block {
	display: inline-block;
	margin: 39px;
	margin-left: 322px;
}

.main-menu-inline_block {
	display: inline-block;
	margin: 54px 0px 73px 55px;
	height: 142px; 
}

.main-menu-inline_block ul li{
	display: inline-block;
	margin: 0 56px 0 0;
}

.main-menu-inline_block ul li a{
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
}

.contact-inline_block {
	display: inline-block;
	margin-left: 0;
}

.contact-inline_block a {
	color: white;
}

.with-flex {
	display: flex; 
	justify-content: flex-start;
}